# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
*.log

# Notebook
.ipynb_checkpoints/

# Tests
.pytest_cache/

# Environment
.env

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db